* {
  margin: 0%;
  padding: 0%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000000;
}

/* The link for the fonts used */
@font-face {
  font-family: Gilroy-Bold;
  src: url(./assets/font/gilroy/Gilroy-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Gilroy-Medium;
  src: url(./assets/font/gilroy/Gilroy-Medium.ttf);
}
@font-face {
  font-family: Gilroy-SemiBold;
  src: url(assets/font/gilroy/Gilroy-SemiBold.ttf);
}

/* The style for the form starts here */
.Form {
  background-color: rgb(29, 28, 28);
  width: fit-content;
  margin: auto;
  margin-top: 5rem;
  padding: 5rem;
  border-radius: 10px;
}

#signin {
  font-family: Gilroy-SemiBold;
  font-size: 50px;
  color: white;
  text-align: center;
}

.username {
  font-family: Gilroy-Medium;
  color: white;
  margin-top: 30px;
  margin-left: 13px;
}

.input_username {
  width: 15rem;
  height: 2rem;
  margin-top: 10px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.input_password {
  width: 15rem;
  height: 2rem;
  margin-top: 40px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: white;
  background-color: rgb(0, 0, 0);
  font-family: Gilroy-Medium;
  font-size: 16px;
  color: rgb(127, 126, 126);
  outline: none;
}

.forgot_signup_links {
  display: flex;
  gap: 80px;
  margin-top: 20px;
}

.forgot_password,
.sign_up {
  color: #8f8f8f;
  font-family: Gilroy-Medium;
  font-size: 13px;
  text-decoration: none;
}

.forgot_password:hover{
    color: white;
}
.sign_up:hover{
    color: white;
}

.login {
  width: 100%;
  height: 2.5rem;
  margin-top: 30px;
  border-radius: 30px;
  border: none;
  font-family: Gilroy-Medium;
}

/* The animation starts here */
*,
*::before,
*::after {
  box-sizing: border-box;
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.box {
  --border-size: 3px;
  --border-angle: 0turn;
  width: 60vmin;
  height: 50vmin;
  background-image: conic-gradient(
      from var(--border-angle),
      rgb(0, 0, 0),
      rgb(0, 0, 0) 50%,
      rgb(0, 0, 0)
    ),
    conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: bg-spin 3s linear infinite;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
/* the animation ends here */


.box {
  width: fit-content;
  margin: auto;
  padding: 5rem;
  border-radius: 10px;
  padding-bottom: 28rem;
}

/* this is a style for the password */
span{
    position: absolute;
    margin-top: -45px;
    display: flex;
    justify-content: center;
    padding: 20px 10px 10px;
    color: #8f8f8f;
    transition: 0.5s;
    font-family: Gilroy-Medium;
    font-size: 16px;
    background-color: transparent;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
    color: #fff;
    font-size: 0.70em;
    transform: translateY(-30px);
    font-family: Gilroy-Medium;
    font-size: 16px;
}
/* This is the end of the password */


/* The media query starts here */

@media only screen and (max-width: 600px) {
  .input_username {
    width: 12rem;
  }
  
  .input_password {
    width: 12rem;
  }
  .forgot_signup_links {
    gap: 30px;
  }
}
@media only screen and (max-width: 400px) {
  .Form {
    width: 23rem;
  }
}
@media only screen and (min-width: 1095px) {
  .Form {
    padding:8rem 5rem 0rem 5rem;
  }
}
@media only screen and (min-width: 1440px) {
  .Form {
    padding: 5rem;
    padding-bottom: 45rem;
  }
  .input_username {
    width: 40rem;
    height: 5rem;
  }
  
  .input_password {
    width: 40rem;
    height: 5rem;
  }
  .username {
    font-family: Gilroy-Medium;
    color: white;
    margin-top: 30px;
    margin-left: 13px;
  }
  .username {
    font-size: 30px;
  }
  .password {
    font-size: 30px;
    margin-top: -80px;
  }
  .login {
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 55px;
    margin-top: 100px;
    border-radius: 90px;
  }
  .forgot_signup_links {
    display: flex;
    gap: 180px;
    margin-top: 40px;
  }
  
  .forgot_password,
  .sign_up {
    color: #8f8f8f;
    font-family: Gilroy-Medium;
    font-size: 30px;
    text-decoration: none;
  }
  
}
@media only screen and (min-width: 2200px) {
  .Form {
    padding: 5rem;
    padding-bottom: 3rem;
  }
  .input_username {
    width: 70rem;
    height: 8rem;
  }
  
  .input_password {
    width: 70rem;
    height: 8rem;
  }
  .username {
    font-family: Gilroy-Medium;
    color: white;
    margin-top: 30px;
    margin-left: 13px;
  }
  .username {
    font-size: 50px;
  }
  .password {
    font-size: 50px;
    margin-top: -100px;
  }
  .login {
    font-size: 70px;
    padding-top: 20px;
    padding-bottom: 95px;
    border-radius: 90px;
    margin-top: 150px;
  }
  .forgot_signup_links {
    display: flex;
    gap: 260px;
    margin-top: 100px;
  }
  
  .forgot_password,
  .sign_up {
    color: #8f8f8f;
    font-family: Gilroy-Medium;
    font-size: 50px;
    text-decoration: none;
  }
  #signin {
    font-family: Gilroy-SemiBold;
    font-size: 100px;
    color: white;
    text-align: center;
  }
  
}
/* The media query ends here */